html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial, sans-serif;
}

.close, .actions, .toolbar {
  z-index: 11;
  position: absolute;
}

.close {display: none}
.close {top: 0; left: 2px}
.actions {top: 0; left: 2px}
.toolbar {top: 0; right: 2px}

.close > table, .toolbar > table, .actions table {
  table-layout: fixed;
  border-spacing: 0 1px;
}

.close > table tr td, .toolbar > table tr td, .actions > table tr td {
  padding: 0;
  color: #777;
  width: 42px;
  height: 42px;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-family: arial, sans-serif;
  background-color: rgba(0,0,0,0.1);
  transition: 300ms ease background-color;
}

.close > table tr td:hover, .toolbar > table tr td:hover, .actions > table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.close > table tr td svg, .toolbar > table tr td svg, .actions > table tr td svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex > * {
  flex: 1;
}

.flex * {text-decoration: underline}
.flex *:checked {text-decoration: none}
.flex *[selected] {text-decoration: none}

.flex label {
  text-indent: 0;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.container canvas {
  left: 0;
  top: 5px;
  border: 0;
  width: 100%;
  height: 100%;
  outline: none;
}

.controls {
  width: 250px;
  padding: 5px;
  cursor: move;
  display: none;
  position: fixed;
  resize: horizontal;
  top: calc(50% - 240px);
  background-color: #fff;
  left: calc(100% - 330px);
  border: solid 1px rgba(0,0,0,0.1);
}

.controls .separator {
  height: 1px;
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.1);
}

.controls .options {
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.controls .options .item {
  margin: 0;
  border: 0;
  padding: 0;
  height: 38px;
  text-align: left;
  margin-bottom: 10px;
  background-color: #fff;
}

.controls .options .item button {
  margin: 0;
  border: 0;
  padding: 0;
  color: #555;
  width: 100%;
  height: 38px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  background-color: #fff;
  font-family: arial, sans-serif;
  background-size: 16px !important;
  transition: 300ms ease background-color;
}

.controls .options .item button:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.controls .options .item button[selected] {
  background-color: rgba(0,0,0,0.1) !important;
}

.controls .options label {
  margin: 0;
  border: 0;
  padding: 0;
  color: #555;
  height: 38px;
  width: 105px;
  cursor: move;
  outline: none;
  font-size: 12px;
  text-align: left;
  user-select: none;
  line-height: 38px;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  font-family: arial, sans-serif;
  background-size: 16px !important;
  transition: 300ms ease background-color;
}

.controls .options div[class*='title'] {
  height: 18px;
  margin-bottom: 0;
}

.controls .options div[class*='title'] label {
  color: #999;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  text-decoration: none;
}

.controls .options label[class='button'] {
  cursor: pointer;
  text-align: center;
}

.controls .options label[class='button'][selected] {
  color: #fff;
  background-color: #1e90ff;
}

.controls .options .shrink {
  padding: 0 5px;
  margin-bottom: 0;
}

.controls .options .item #Spray {background: url('icons/Spray.png') no-repeat center center}
.controls .options .item #Pencil {background: url('icons/Pencil.png') no-repeat center center}
.controls .options .item #Circle {background: url('icons/Dotted.png') no-repeat center center}

.controls .options .item #Rect {background: url('icons/Rect.png') no-repeat center center}
.controls .options .item #Line {background: url('icons/Line.png') no-repeat center center}
.controls .options .item #Move {background: url('icons/Move.png') no-repeat center center}
.controls .options .item #Circle {background: url('icons/Circle.png') no-repeat center center}
.controls .options .item #Hexagon {background: url('icons/Hexagon.png') no-repeat center center}
.controls .options .item #Octagon {background: url('icons/Octagon.png') no-repeat center center}
.controls .options .item #Triangle {background: url('icons/Triangle.png') no-repeat center center}

.controls .button #copy {background: url('icons/Copy.png') no-repeat center center}
.controls .button #save {background: url('icons/Save.png') no-repeat center center}
.controls .button #hide {background: url('icons/Hide.png') no-repeat center center}
.controls .button #paste {background: url('icons/Paste.png') no-repeat center center}
.controls .button #clear {background: url('icons/Clear.png') no-repeat center center}
.controls .button #remove {background: url('icons/Remove.png') no-repeat center center}
.controls .button #zoom-in {background: url('icons/Zoom-in.png') no-repeat center center}
.controls .button #zoom-out {background: url('icons/Zoom-out.png') no-repeat center center}

.hide {
  display: none;
}

.fixed {
  top: -1px;
  left: -40px;
  width: 38px;
  flex-flow: wrap;
  position: absolute;
}

.fixed button {
  opacity: 0.5;
  min-width: 38px;
}

.fixed button:hover {
  opacity: 0.7;
  background-color: #d8d8d8 !important;
}

.controls .options input[type="range"] {
  margin: 0;
  padding: 0;
  width: 78px;
  height: 38px;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
}

.controls .options input[type="color"] {
  border: 0;
  margin: 0;
  padding: 5px;
  height: 32px;
  outline: none;
  cursor: pointer;
  max-width: 48px;
  background: #fff;
  vertical-align: middle;
}

.controls .button button {
  margin: 0;
  border: 0;
  padding: 0;
  color: #555;
  width: 100%;
  height: 38px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  max-width: 38px;
  text-decoration: none;
  background-color: #fff;
  font-family: arial, sans-serif;
  background-size: 16px !important;
  transition: 300ms ease background-color;
}

.controls .button button:hover {
  background-color: rgba(0,0,0,0.1);
}

.controls .options .info {
  padding: 0;
  width: 38px;
  color: #555;
  float: right;
  height: 38px;
  font-size: 11px;
  overflow: hidden;
  line-height: 38px;
  text-align: right;
  white-space: nowrap;
  background-color: #fff;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-family: monaco, "andale mono", "lucida console", "courier new", monospace;;
}

.canvas-container, .canvas-container canvas {
  border: 0;
  outline: none;
  max-width: 100vw;
  height: 100vw !important;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

html[context="page"] .actions {top: 43px}
html[context="page"] .close {display: block}

html[context="page"] .close > table tr td, 
html[context="page"] .actions > table tr td {
  background-color: #1e90ff;
}

html[context="page"] .close > table tr td svg, 
html[context="page"] .actions > table tr td svg {
  fill: #fff;
}

html[context="page"] .toolbar, 
html[context="webapp"] .toolbar {
  display: none;
}

html[context="page"] .controls {
  border: solid 1px #1e90ff;
}

html[context="webapp"] .controls {
  top: calc(50% - 395px);
  left: calc(100% - 263px);
}

@media print {
  .toolbar, .controls, .actions, .close {
    display: none !important;
  }
  .canvas-container, .canvas-container canvas {
    border-bottom: none;
  }
}